#features {
  padding-top:6rem;
}

.features .nav-tabs {
  border: 0;
}

.features .nav-link {
  border: 1px solid lightblue;
  padding: 25px;
  transition: 0.3s;
  color: black;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.features .nav-link i {
  padding-right: 15px;
  font-size: 48px;
}

.features .nav-link h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.features .nav-link:hover {
  color: lightblue;
}

.image-tab {
  width: 50px;
}

.image-tab-2 {
  width: 100px;
}

.card {
  padding:50px;
  margin-bottom: 10px;
}

.desc {
  padding-bottom:3rem;
}

h3 {
  padding-bottom:20px;
}

input {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .features .nav-link i {
    padding: 0;
    line-height: 1;
    font-size: 36px;
  }
}
@media (max-width: 575px) {
  .features .nav-link {
    padding: 15px;
  }

  .features .nav-link i {
    font-size: 24px;
  }
}

.features .tab-content {
  margin-top: 30px;
}

.features .tab-pane h3 {
  font-weight: 600;
  font-size: 26px;
}

.features .tab-pane ul {
  list-style: none;
  padding: 0;
}

.features .tab-pane ul li {
  padding-bottom: 10px;
}

.features .tab-pane ul i {
  font-size: 20px;
  padding-right: 4px;
  color: lightblue;
}

.features .tab-pane p:last-child {
  margin-bottom: 0;
}

.price {
  border: 1px solid lightblue;
  border-radius: 5%;
  margin: 5px;
  margin-right: 50px;
  padding: 15px;
  background-color: white;
  cursor:pointer;
}
.price:hover {
  background-color: lightblue;
  transform: scale(1.1);
  transition:0.5s;
}
button {
  padding: 10px;
}
